<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Настройка поиска</title>
    <link rel="icon" href="FaviconTDI.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles_form.css">
</head>
<body>
    <h1>Настройка поиска</h1>
    <input type="text" placeholder="Введите текст для поиска">
    <select>
        <option value="vacancy">По названию вакансии</option>
        <option value="city">По городу</option>
        <option value="employer">По названию работодателя</option>
    </select>
    <img src="222.webp" alt="Картинка по теме">
    <button>Найти вакансии</button>
    <a href="index.html">На главную</a>
</body>
</html>
