<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Анализатор вакансий на HH.RU</title>
    <link rel="icon" href="FaviconTDI.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles_index.css">
</head>
<body>
    <h1>Анализатор вакансий на HH.RU</h1>
    <p>Анализатор предназначен для получения произвольных вакансий с сайта hh.ru и выявления наиболее востребованных ключевых навыков таких вакансий, а также для расчета средней заработной платы.</p>
    <img src="111.webp" alt="Картинка по теме">
    <a href="form.html">Перейти к настройкам поиска</a>
</body>
</html>